@using SmSideBarExample.Components

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <SideBarComponent Items="_items" />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private static readonly IReadOnlyList<SideBarItem> _items = [
        new("Notifications", "fa-solid fa-bell"),
        new("Products", "fa-solid fa-box"),
        new("Options", "fa-solid fa-gear"),
    ];
}